<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE launch>
<launch>
  <!-- motor -->
  <include file="$(find xycar_motor)/launch/xycar_motor.launch"/>
  <include file="$(find usb_cam)/launch/usb_cam-noviewer.launch"/>

  <!-- Team3 includes -->
  <!-- processor -->
  <node name="sensor_cam" pkg="sensor_cam" type="sensor_cam"/>
  <node name="sensor_cam_hough" pkg="sensor_cam_hough" type="sensor_cam_hough"/>
  <!-- Lidar -->
  <!-- <include file="$(find sensor_lidar)/launch/sensor_lidar.launch"/> -->
  <!-- Sonic -->
  <!-- <include file="$(find sensor_sonic)/launch/sensor_sonic.launch"/> -->
  <!-- IMU -->
  <!-- <include file="$(find sensor_imu)/launch/sensor_imu.launch"/> -->
  <!-- controller -->
  <node name="team3_controller" pkg="team3-controller" type="team3-controller" output="screen"/>
</launch>